node_modules/
.env
.env.*
!*.example
coverage/
dist/
.DS_Store
Thumbs.db
.vscode/
cookies.txt

# ignore node modules
backend/node_modules/
frontend/node_modules/


# deps & env
backend/node_modules/
frontend/node_modules/
backend/.env
frontend/.env
*.env

# deps & env
backend/node_modules/
frontend/node_modules/
node_modules/
backend/.env
frontend/.env
*.env
